
.footer {
  background-color: var(--primary-color);
  color: var(--text-color);
  text-align: center;
  padding: 2rem;
  border-top: 1px solid var(--background-color-hover);
  margin-top: auto;
}

.footer p {
  margin: 0;
  color: var(--text-color-light);
}

@media (max-width: 768px) {
  .footer {
    padding: 1rem;
  }
}
