.btn {
  font-size: var(--font-size-base);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
  color: var(--text-color-light);
}


.btn-primary {
  background-color: var(--primary-color);
}

.btn-primary:hover {
  background-color: var(--primary-color-hover);
}

.btn-primary:active {
  background-color: var(--primary-color-active);
}

.btn-primary:focus-visible {
  outline: 2px solid var(--primary-color-focus);
  outline-offset: 2px;
}

.btn-secondary {
  background-color: var(--secondary-color);
  color: var(--button-text-color);
}

.btn-secondary:hover {
  background-color: var(--secondary-color-hover);
}

.btn-secondary:active {
  background-color: var(--secondary-color-active);
}

.btn-secondary:focus-visible {
  outline: 2px solid var(--secondary-color-focus);
  outline-offset: 2px;
}

.btn-danger {
  background-color: var(--btn-danger-bg);
}

.btn-danger:hover {
  background-color: var(--btn-danger-bg-hover);
}

.btn-danger:active {
  background-color: var(--btn-danger-bg-active);
}

.btn-success {
  background-color: var(--btn-success-bg);
}

.btn-success:hover {
  background-color: var(--btn-success-bg-hover);
}

.btn-success:active {
  background-color: var(--btn-success-bg-active);
}


.btn-disabled,
.btn:disabled {
  background-color: var(--background-color-hover);
  color: var(--text-color);
  cursor: not-allowed;
  opacity: 0.6;
}

a {
  color: var(--link-color);
  text-decoration: none;
  outline: none;
  transition: color 0.3s ease; 
}

a:hover {
  color: var(--link-color-hover);
}

a:focus-visible {
  outline: 2px solid var(--link-color-focus);
  outline-offset: 2px;
}

a:active {
  color: var(--link-color);
}

a, a:hover, a:focus, a:active {
  color: inherit;
  text-decoration: none;
}