.header {
  background-color: var(--primary-color);
  color: var(--text-color-light);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  font-size: var(--font-size-xxlarge);
  font-weight: bold;
  color: var(--link-color-alt);
  text-decoration: none;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav-list {
  display: flex;
  list-style: none;
  gap: 1rem;
}

.menu-toggle {
  display: none;
  cursor: pointer;
  color: var(--link-color-alt)
}

.menu-toggle .icon {
  color: var(--link-color-alt)
}


@media (max-width: 768px) {
  .nav-list {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    background-color: var(--primary-color);
    padding: 1rem;
    position: absolute;
    top: 100%;
    left: 0;
    transition: transform 0.3s ease-in-out;
  }

  .menu-toggle.active {
    color: var(--link-color-hover-alt);
  }

  .nav-list.active {
    display: flex;
    transform: translateY(0);
  }

  .nav-list li {
    width: 100%;
  }


  .menu-toggle {
    display: block;
  }

  .nav-list li a {
    display: block;
    padding: 0.4rem 0rem;
    text-align: left;
    width: 100%;
    color: var(--text-color-light);
    text-decoration: none;
  }
}


header a {
  color: var(--link-color-alt);
}

header a:hover {
  color: var(--link-color-hover-alt);
}

header a:focus-visible {
  outline: 2px solid var(--link-color-focus-alt);
}
