.calendar {
  background-color: var(--background-color);
  border: 1px solid var(--secondary-color);
  border-radius: 0.625rem;
  padding: 1rem;
  width: 100%;
  max-width: 320px;
  box-shadow: var(--shadow-small);
  z-index: 20;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text-color);
  margin-bottom: 0.75rem;
}

.calendar-header button {
  color: var(--link-color);
}

.calendar-header button:hover {
  color: var(--link-color-hover);
}

.calendar-weekdays,
.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.25rem;
}

.calendar-weekday {
  text-align: center;
  font-size: 0.875rem;
  margin-bottom: 0.75rem;
}

.calendar-day {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.875rem;
  background-color: transparent;
  transition: background-color 0.2s;
  color: var(--text-color);
}

.calendar-day:hover {
  background-color: var(--secondary-color-hover);
}

.calendar-day.today {
  border: 1px solid var(--primary-color);
}

.calendar-day.selected {
  background-color: var(--primary-color);
  color: var(--text-color-light);
}

.calendar-day.empty {
  pointer-events: none;
  visibility: hidden;
}

.calendar-day.disabled {
  color: var( --text-color-muted);
  cursor: not-allowed;
  pointer-events: none;
  background-color: var(--secondary-color-focus);
}

.calendar-day.disabled:hover {
  background-color: #f5f5f5;
}
